<div class='root_container'>
  <div>
    <mat-toolbar class='header' >
      <div>
        <div class='hamburger_icon'></div>
        <div class='hamburger_icon'></div>
        <div class='hamburger_icon'></div>
      </div>

      <h1 class='header_text'> Local Weather </h1>

      <div>
        <label class='switch' >
          <input type='checkbox'>
          <span class='slider'></span>
        </label>
      </div>
    </mat-toolbar>
  </div>
  <section>
    <h1 style='text-align: center'>Your city, your forecast, right now!</h1>
    <div align=center>
        <input class='form_input' type='text' placeholder='enter your city or zip code' >
    </div>
    <div align=center>
        <app-current-weather></app-current-weather>
        <app-city-search></app-city-search>
    </div>
  </section>
</div>



  
  