<!--The content below is only a placeholder and can be replaced.-->
<div class='root_container'>
  <header class='main_header'>
    
    <div>
      <div class='hamburger_icon'></div>
      <div class='hamburger_icon'></div>
      <div class='hamburger_icon'></div>
    </div>

    <h1 class="header_text"> Local Weather </h1>

    <div>
      <label class="switch" >
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>
  </header>

  <main class="main_container">
    <div>
          <app-current-weather></app-current-weather>
          <p style="text-align: center">Your city, your forecast, right now!</p>
          <div class='bb'>
          <input type="text" placeholder="enter your city or zip code" style="width: 230px;" >
          </div>
    </div>
    <div>
      </div>
 
  </main>
  



</div>

  
  