<div class='root_container'>
  <div>
    <mat-toolbar class='header' >
      <div>
        <div class='hamburger_icon'></div>
        <div class='hamburger_icon'></div>
        <div class='hamburger_icon'></div>
      </div>

      <h1 class='header_text'> Local Weather </h1>

      <div>
        <label class='switch' >
          <input type='checkbox'>
          <span class='slider'></span>
        </label>
      </div>
    </mat-toolbar>
  </div>
  <section style='text-align: center'>
    <h1 style='text-align: center'>Your city, your forecast, right now!</h1>
    <div fxLayoutAlign='center'>
        <app-city-search (searchEvent)='doSearch($event)'></app-city-search>
    </div>
    <mat-card>
      <app-current-weather [current]='currentWeather'></app-current-weather>
    </mat-card>
  </section>
</div>



  
  